@font-face {
  font-family: "Atkinson Hyperlegible";
  src: url("Atkinson-Hyperlegible-Regular-102a.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: "Atkinson Hyperlegible";
  src: url("Atkinson-Hyperlegible-Italic-102a.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
}

@font-face {
  font-family: "Atkinson Hyperlegible";
  src: url("Atkinson-Hyperlegible-Bold-102a.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: "Atkinson Hyperlegible";
  src: url("Atkinson-Hyperlegible-BoldItalic-102a.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
  font-stretch: normal;
}
