@font-face {
  font-family: "Gentium";
  src: url("Gentium-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: "Gentium";
  src: url("Gentium-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
}

@font-face {
  font-family: "Gentium";
  src: url("Gentium-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: "Gentium";
  src: url("Gentium-MediumItalic.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
  font-stretch: normal;
}

@font-face {
  font-family: "Gentium";
  src: url("Gentium-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: "Gentium";
  src: url("Gentium-SemiBoldItalic.woff2") format("woff2");
  font-weight: 600;
  font-style: italic;
  font-stretch: normal;
}

@font-face {
  font-family: "Gentium";
  src: url("Gentium-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: "Gentium";
  src: url("Gentium-BoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
  font-stretch: normal;
}

@font-face {
  font-family: "Gentium";
  src: url("Gentium-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: "Gentium";
  src: url("Gentium-ExtraBoldItalic.woff2") format("woff2");
  font-weight: 800;
  font-style: italic;
  font-stretch: normal;
}
