@font-face {
  font-family: "Jost";
  src: url("Jost-Thin.ttf") format("opentype");
  font-weight: 100;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: "Jost";
  src: url("Jost-ThinItalic.ttf") format("opentype");
  font-weight: 100;
  font-style: italic;
  font-stretch: normal;
}

@font-face {
  font-family: "Jost";
  src: url("Jost-ExtraLight.ttf") format("opentype");
  font-weight: 200;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: "Jost";
  src: url("Jost-ExtraLightItalic.ttf") format("opentype");
  font-weight: 200;
  font-style: italic;
  font-stretch: normal;
}

@font-face {
  font-family: "Jost";
  src: url("Jost-Light.ttf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: "Jost";
  src: url("Jost-LightItalic.ttf") format("opentype");
  font-weight: 300;
  font-style: italic;
  font-stretch: normal;
}

@font-face {
  font-family: "Jost";
  src: url("Jost-Regular.ttf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: "Jost";
  src: url("Jost-Italic.ttf") format("opentype");
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
}

@font-face {
  font-family: "Jost";
  src: url("Jost-Medium.ttf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: "Jost";
  src: url("Jost-MediumItalic.ttf") format("opentype");
  font-weight: 500;
  font-style: italic;
  font-stretch: normal;
}

@font-face {
  font-family: "Jost";
  src: url("Jost-SemiBold.ttf") format("opentype");
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: "Jost";
  src:  url("Jost-SemiBoldItalic.ttf") format("opentype");
  font-weight: 600;
  font-style: italic;
  font-stretch: normal;
}

@font-face {
  font-family: "Jost";
  src: url("Jost-Bold.ttf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: "Jost";
  src:  url("Jost-BoldItalic.ttf") format("opentype");
  font-weight: 700;
  font-style: italic;
  font-stretch: normal;
}

@font-face {
  font-family: "Jost";
  src: url("Jost-ExtraBold.ttf") format("opentype");
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: "Jost";
  src:  url("Jost-ExtraBoldItalic.ttf") format("opentype");
  font-weight: 800;
  font-style: italic;
  font-stretch: normal;
}

@font-face {
  font-family: "Jost";
  src: url("Jost-Black.ttf") format("opentype");
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: "Jost";
  src:  url("Jost-BlackItalic.ttf") format("opentype");
  font-weight: 900;
  font-style: italic;
  font-stretch: normal;
}
